/*-- scss:defaults --*/

$title-color: #e6e081;
$body-bg: #fcfcff;
$body-color: #4e3629;
$link-color: #3978bf;
$presentation-heading-color: #45013b;

/*-- scss:rules --*/

h1.title {
  color: $title-color;
}

h2.subtitle {
  color: $title-color;
}

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-image: "images/snowstorm.jpg";
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}